<p>
  <strong>Checkin date:</strong>
  <%= @book.checkin_date %>
</p>

<p>
  <strong>Checkout date:</strong>
  <%= @book.checkout_date %>
</p>

<p>
  <strong>Supreme num:</strong>
  <%= @book.supreme_num %>
</p>

<p>
  <strong>Supreme double num:</strong>
  <%= @book.supreme_double_num %>
</p>

<p>
  <strong>Delux num:</strong>
  <%= @book.delux_num %>
</p>

<p>
  <strong>Delux double num:</strong>
  <%= @book.delux_double_num %>
</p>

<p>
  <strong>Suite num:</strong>
  <%= @book.suite_num %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @book.contact_name %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @book.contact_email %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @book.contact_phone %>
</p>

<p>
  <strong>Contact message:</strong>
  <%= @book.contact_message %>
</p>
