<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<%= form_for(@book) do |f| %>
<div class='section'>
  <div class='container'>
    <h1><%=t :bookingpage %></h1>
    <hr class="intro-divider">
    <div class='container'>

      <% if flash[:error] %>
      <div class="alert alert-danger"><%= flash[:error] %></div>
      <% end %>
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center"><strong><%=t :selectindate%></strong></h3>
          <div class="input-group date col-md-offset-4 col-md-4 col-xs-12" >
            <%= f.text_field :checkin_date, {:class => 'form-control',:id => 'checkInpicker', :required => true}%>
            <span class="input-group-addon span-btn" id="checkInBtn"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
        </div>
        <div class="col-md-6">

          <h3 class="text-center"><strong><%=t :selectoutdate%></strong></h3>
          <div class="input-group date col-md-offset-4 col-md-4 col-xs-12" >
            <%= f.text_field :checkout_date, {:class => 'form-control', :id => 'checkOutpicker', :required => true}%>
            <span class="input-group-addon span-btn" id="checkOutBtn"><i class="glyphicon glyphicon-calendar" id="checkOutBtn"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class='section'>
  <div class='container'>
    <h3><strong><%=t :selectroom%></strong></h3>
      <div class="col-xs-6 col-md-4">
        <%= image_tag 'phusuay/supreme1/pic1.jpg', :class => "room-select-img" %>
        <div class="card-block">
          <h4 class="card-title"><%=t :supremeone%></h4>
          <div class="input-group half">
            <span class="input-group-btn">
              <button type="button" id="sub1" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
            </span>
            <%= f.number_field :supreme_num, {:class => 'form-control input-number input-group text-center',id:"room1", readonly: true, value:0}%>
            <span class="input-group-btn">
              <button type="button" id="add1" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </span>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-md-4">
        <%= image_tag 'phusuay/supreme2/pic1.jpg', :class => "room-select-img" %>
        <div class="card-block">
          <h4 class="card-title"><%=t :supremetwo%></h4>
          <div class="input-group half">
            <span class="input-group-btn">
              <button type="button" id="sub2" class="btn btn-default btn-number"  data-type="minus" data-field="quant[1]">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
            </span>
            <%= f.number_field :supreme_double_num, {:class => 'form-control input-number input-group',id:"room2", readonly: true, value:0}%>
            <span class="input-group-btn">
              <button type="button" id="add2" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </span>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-md-4">
        <%= image_tag 'phusuay/delux1/pic1.jpg', :class => "room-select-img" %>
        <div class="card-block">
          <h4 class="card-title"><%=t :deluxone%></h4>
          <div class="input-group half">
            <span class="input-group-btn">
              <button type="button" id="sub3" class="btn btn-default btn-number"  data-type="minus" data-field="quant[1]">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
            </span>
            <%= f.number_field :delux_num, {:class => 'form-control input-number input-group',id:"room3", readonly: true, value:0}%>
            <span class="input-group-btn">
              <button type="button" id="add3" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-offset-2 col-md-4">
        <%= image_tag 'phusuay/delux2/pic1.jpg', :class => "room-select-img" %>
        <div class="card-block">
          <h4 class="card-title"><%=t :deluxtwo%></h4>
          <div class="input-group half">
            <span class="input-group-btn">
              <button type="button" id="sub4" class="btn btn-default btn-number"  data-type="minus" data-field="quant[1]">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
            </span>
            <%= f.number_field :delux_double_num, {:class => 'form-control input-number input-group',id:"room4", readonly: true, value:0}%>
            <span class="input-group-btn">
              <button type="button" id="add4" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </span>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-xs-offset-3 col-md-offset-0 col-md-4">
        <%= image_tag 'phusuay/sweet/pic1.jpg', :class => "room-select-img" %>
        <div class="card-block">
          <h4 class="card-title"><%=t :sweet%></h4>
          <div class="input-group half">
            <span class="input-group-btn">
              <button type="button" id="sub5" class="btn btn-default btn-number"  data-type="minus" data-field="quant[1]">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
            </span>
            <%= f.number_field :suite_num, {:class => 'form-control input-number input-group', id:"room5", readonly: true, value:0}%>
            <span class="input-group-btn">
              <button type="button" id="add5" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class='book-contact section'>
  <div class="container">
    <h3><strong><%=t :bookcontact %></strong></h3>
    <div class="col-lg-8 col-lg-offset-2">
      <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
      <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
      <div name="sentMessage" id="contactForm">
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <%= f.text_field :contact_name, :required => true, :placeholder => t(:namecus) ,:class => "form-control book-input" %>
            <h3 class="help-block text-danger"></h3>
          </div>
        </div>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <%= f.text_field :contact_email, :required => true, :placeholder => t(:emailcus) ,:class => "form-control book-input" %>
          </div>
        </div>

        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <%= f.text_field :contact_phone, :required => true, :placeholder => t(:phonecus) ,:class => "form-control book-input" %>
          </div>
        </div>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <%= f.text_area :contact_message, :placeholder => t(:messagecus), :rows => 5, :class => "form-control book-input"   %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="form-group col-xs-12">
            <%= f.submit t(:book) ,:class =>"btn btn-custom btn-lg" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>

<script>
$(document).ready(function(){
  $( "#checkInpicker" ).datepicker({dateFormat: 'dd/M/yy'});
  $( "#checkOutpicker" ).datepicker({dateFormat: 'dd/M/yy'});

  $( "#checkInBtn" ).click(function(){
    $( "#checkInpicker" ).datepicker('show')
  });
  $( "#checkOutBtn" ).click(function(){
    $( "#checkOutpicker" ).datepicker('show')
  });


  $('#add1').click(function() {
    curVal = $('#room1').val()
    nextVal = parseInt(curVal)+1
    if(checkRoomVal(nextVal)){
      $('#room1').val(nextVal)
    }
  });

  $('#sub1').click(function() {
    curVal = $('#room1').val()
    nextVal = parseInt(curVal)-1
    if(checkRoomVal(nextVal)){
      $('#room1').val(nextVal)
    }
  });

  $('#add2').click(function() {
    curVal = $('#room2').val()
    nextVal = parseInt(curVal)+1
    if(checkRoomVal(nextVal)){
      $('#room2').val(nextVal)
    }
  });

  $('#sub2').click(function() {
    curVal = $('#room2').val()
    nextVal = parseInt(curVal)-1
    if(checkRoomVal(nextVal)){
      $('#room2').val(nextVal)
    }
  });

  $('#add3').click(function() {
    curVal = $('#room3').val()
    nextVal = parseInt(curVal)+1
    if(checkRoomVal(nextVal)){
      $('#room3').val(nextVal)
    }
  });

  $('#sub3').click(function() {
    curVal = $('#room3').val()
    nextVal = parseInt(curVal)-1
    if(checkRoomVal(nextVal)){
      $('#room3').val(nextVal)
    }
  });

  $('#add4').click(function() {
    curVal = $('#room4').val()
    nextVal = parseInt(curVal)+1
    if(checkRoomVal(nextVal)){
      $('#room4').val(nextVal)
    }
  });

  $('#sub4').click(function() {
    curVal = $('#room4').val()
    nextVal = parseInt(curVal)-1
    if(checkRoomVal(nextVal)){
      $('#room4').val(nextVal)
    }
  });
  $('#add5').click(function() {
    curVal = $('#room5').val()
    nextVal = parseInt(curVal)+1
    if(checkRoomVal(nextVal)){
      $('#room5').val(nextVal)
    }
  });

  $('#sub5').click(function() {
    curVal = $('#room5').val()
    nextVal = parseInt(curVal)-1
    if(checkRoomVal(nextVal)){
      $('#room5').val(nextVal)
    }
  });

  function checkRoomVal(val){
    if(val<0||val>10)
    return false;
    return true;
  }


} );



</script>
