<div class='section'>
  <div class='container'>
    <h1><%=t :aboutpage%></h1>
    <hr class="intro-divider">
    <div class="message-box text-center">
      <div class="col-xs-offset-2 col-xs-8 container-center text-margin">
        <p><%=t :aboutText %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <%= image_tag 'phusuay/pic27.jpg', :class => "about-img" %>
      </div>
      <div class="col-xs-4">
        <%= image_tag 'phusuay/pic28.jpg', :class => "about-img" %>
      </div>
      <div class="col-xs-4">
        <%= image_tag 'phusuay/pic9.jpg', :class => "about-img" %>
      </div>
    </div>
  </div>
</div>

<section class='map'>
  <h2><%=t :locationpage%></h2>
  <p><%=t :locationAddr %></p>

  <div id="map" style="width:100%;min-height:350px"></div>

  <script>
  var map;
  function initMap() {
    var phusuay = {lat: 15.8409757, lng: 102.0612368};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: phusuay,
      scrollwheel: false,
    });
    var marker = new google.maps.Marker({
      position: phusuay,
      map: map
    });
  }
  </script>

    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyB2JUusumTBOvHtrnWzs2i8yWnDTAvda6g "></script>
</section>

<section class="contact-us">
  <div class="container">
    <h2><%=t :contactpage %></h2>
    <p><i class="glyphicon glyphicon-earphone"></i> <%=t :tel %></p>
    <p><i class="glyphicon glyphicon-phone"></i> <%=t :mobilephone %> : 080-153-1331</p>
    <p><i class="glyphicon glyphicon-print"></i> <%=t :fax %> : 044-854-244</p>
    <p><i class="glyphicon glyphicon-envelope"></i> <%=t :email %></p>
  </div>
</section>
