<div class='section'>
  <div class='container'>
    <h2><%=t :aboutpage%></h2>
    <hr class="intro-divider">
    <div class="message-box text-center">
      <div class="col-xs-offset-2 col-xs-8 container-center text-margin">
        <%=t :aboutText %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <%= image_tag 'phusuay/pic27.jpg', :class => "about-img" %>
      </div>
      <div class="col-xs-4">
        <%= image_tag 'phusuay/pic28.jpg', :class => "about-img" %>
      </div>
      <div class="col-xs-4">
        <%= image_tag 'phusuay/pic9.jpg', :class => "about-img" %>
      </div>
    </div>
  </div>
</div>

<section class='map'>
  <h2><%=t :locationpage%></h2>
  <p><%=t :locationAddr %></p>

  <div id="map" style="width:100%;min-height:350px"></div>

  <script>
  function myMap() {
    var mapCanvas = document.getElementById("map");
    var mapOptions = {
      center: new google.maps.LatLng(51.5, -0.2),
      zoom: 10
    }
    var map = new google.maps.Map(mapCanvas, mapOptions);
  }
  </script>

    <script src="https://maps.googleapis.com/maps/api/js?callback=myMap&key=AIzaSyB2JUusumTBOvHtrnWzs2i8yWnDTAvda6g "></script>
</section>

<section class="contact-us">
  <div class="container">
    <h2><%=t :contactpage %></h2>
    <p><i class="glyphicon glyphicon-earphone"></i><%=t :tel %></p>
    <p><i class="glyphicon glyphicon-earphone"></i><%=t :reservation %></p>
    <p><i class="glyphicon glyphicon-envelope"></i><%=t :email %></p>
  </div>
</section>
