<div class='info section'>
  <div class='container'>
    <div class='section-subject text-center'>
      <h1><%=t :welcome %></h1>
    </div>
    <hr class="intro-divider">
    <div class='message-box text-center'>
      <h3>ท่ามกลางธรรมชาติอันรื่นรมย์ กลิ่นไอความอบอุ่น</h3>
      <h3>ใกล้สถานที่ท่องเที่ยวที่น่าสนใจของจังหวัดชัยภูมิ</h3>
      <h3>พร้อมสิ่งอำนวยความสะดวกครบครัน เลือกสรรไว้สำหรับคุณ"ที่นี่"</h3>
      <h3>พักกาย... สบายใจ... ที่ภูสวยปาร์ควิว</h3>
    </div>
  </div>
</div>

<section class='pic'>
  <div class="owl-carousel">
    <div> <%= image_tag 'phusuay/pic1.jpg' %> </div>
    <div> <%= image_tag 'phusuay/pic6.jpg' %> </div>
    <div> <%= image_tag 'phusuay/pic10.jpg' %> </div>
    <div> <%= image_tag 'phusuay/pic9.jpg' %> </div>
    <div> <%= image_tag 'phusuay/pic13.jpg' %> </div>
  </div>
</section>

<section class='more'>
  <div class='container'>
    <div class='row'>
      <div class="col-xs-4">
        <%= image_tag 'phusuay/homepic1.jpg', :class => "card-img-top" %>
        <div class="card-block">
          <h2 class="card-title"><%=t :roompage %></h2>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-custom"><%=t :seemore %></a>
        </div>
      </div>

      <div class="col-xs-4">
        <%= image_tag 'phusuay/homepic2.jpg', :class => "card-img-top" %>
        <div class="card-block">
          <h2 class="card-title"><%=t :serviceAndFacilities %></h2>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-custom"><%=t :seemore %></a>
        </div>
      </div>

      <div class="col-xs-4">
        <%= image_tag 'phusuay/homepic3.jpg', :class => "card-img-top" %>
        <div class="card-block">
          <h2 class="card-title"><%=t :attractionPage%></h2>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-custom"><%=t :seemore %></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class='book-now section'>
  <div class="container">
    <p class='book-now-message'><%=t :booknow %></p>
    <!-- <p class='book-now-submessage'>Get a special offer up to 70%</p> -->
    <button type="button" class="btn btn-custom"><%=t :booknow %></button>
  </div>
</section>

<section class='map'>
  <h2><%=t :locationpage %></h2>
  <p><%=t :locationAddr%></p>

  <div id="map" style="width:100%;min-height:350px"></div>

  <script>
  var map;
  function initMap() {
    var phusuay = {lat: 15.8409757, lng: 102.0612368};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: phusuay,
      scrollwheel: false,
    });
    var marker = new google.maps.Marker({
      position: phusuay,
      map: map
    });
  }
  </script>

    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyB2JUusumTBOvHtrnWzs2i8yWnDTAvda6g "></script>
  <script>

  $(document).ready(function(){
    $(".owl-carousel").owlCarousel({
      loop:true,
      margin:10,
      responsiveClass:true,
      responsive:{
        0:{
          items:1,
          nav:true
        },
        600:{
          items:3,
          nav:false
        },
        1000:{
          items:4,
          nav:false
        }
      },
      autoplay:true,
      autoplayTimeout:3000,
      autoplayHoverPause:true
    });

  });
  </script>
</section>
