<section id="rooms" class="section">
  <div class="container text-left">
    <h1><%=t :roompage %></h1>
    <hr class="intro-divider">
  </div>

  <div class="room-description room-description-odd clearfix">
    <div class="col-md-offset-1 col-md-10 col-xs-12">
      <div class="room-content clearfix">
        <div class="col-md-5 col-xs-6">
          <div class="row">
            <div class="main-img center-block">
              <%= image_tag 'phusuay/supreme1/pic1.jpg', :class => "img-responsive" %>
            </div>
            <!-- <div class="sub-img">
              <div class="row">
                <div class="col-xs-4">
                  <%= image_tag 'card.jpg', :class => "img-responsive" %>
                </div>
                <div class="col-xs-4">
                  <%= image_tag 'card.jpg', :class => "img-responsive" %>
                </div>
                <div class="col-xs-4">
                  <%= image_tag 'card.jpg', :class => "img-responsive" %>
                </div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="col-md-offset-2 col-md-5 col-xs-6">
          <h2><%=t :supremeone %></h2>

          <h4><i class="glyphicon glyphicon-user"></i><%=t :numperson %>: 2</h4>
          <ul class="list-inline">
            <li><p><i class="glyphicon glyphicon-ok-circle"></i> <%=t :air %></p></li>
            <li><p><i class="glyphicon glyphicon-ok-circle"></i> <%=t :hotwater %></p></li>
            <li><p><i class="glyphicon glyphicon-ok-circle"></i> <%=t :tv %></p></li>
            <li><p><i class="glyphicon glyphicon-ok-circle"></i> <%=t :refrigerator %></p></li>
          </ul>
          <div class="price">
            <h2>600 <%=t :baht %> <span><%=t :pernight%></span></h2>
            <!-- <span><%=t :pernight%></span> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="room-description room-description-even clearfix">
    <div class="col-md-offset-1 col-md-10 col-xs-12">
      <div class="room-content clearfix">
        <div class="col-md-5 col-xs-6">
          <h2><%=t :supremetwo %></h2>

          <h4><i class="glyphicon glyphicon-user"></i><%=t :numperson %>: 2</h4>
          <ul class="list-inline">
            <li><p><i class="glyphicon glyphicon-ok-circle"></i> <%=t :air %></p></li>
            <li><p><i class="glyphicon glyphicon-ok-circle"></i> <%=t :hotwater %></p></li>
            <li><p><i class="glyphicon glyphicon-ok-circle"></i> <%=t :tv %></p></li>
            <li><p><i class="glyphicon glyphicon-ok-circle"></i> <%=t :refrigerator %></p></li>
          </ul>
          <div class="price">
            <h2>700 <%=t :baht %> <span><%=t :pernight%></span></h2>
          </div>
        </div>
        <div class="col-md-offset-2 col-md-5 col-xs-6">
          <div class="row">
            <div class="main-img center-block">
              <%= image_tag 'phusuay/supreme2/pic1.jpg', :class => "img-responsive" %>
            </div>
            <!-- <div class="sub-img">
              <div class="row">
                <div class="col-xs-4">
                  <%= image_tag 'card.jpg', :class => "img-responsive" %>
                </div>
                <div class="col-xs-4">
                  <%= image_tag 'card.jpg', :class => "img-responsive" %>
                </div>
                <div class="col-xs-4">
                  <%= image_tag 'card.jpg', :class => "img-responsive" %>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="room-description room-description-odd clearfix">
    <div class="col-md-offset-1 col-md-10 col-xs-12">
      <div class="room-content clearfix">
        <div class="col-md-5 col-xs-6">
          <div class="row">
            <div class="main-img center-block">
              <%= image_tag 'phusuay/delux1/pic1.jpg', :class => "img-responsive" %>
            </div>
            <!-- <div class="sub-img">
              <div class="row">
                <div class="col-xs-4">
                  <%= image_tag 'card.jpg', :class => "img-responsive" %>
                </div>
                <div class="col-xs-4">
                  <%= image_tag 'card.jpg', :class => "img-responsive" %>
                </div>
                <div class="col-xs-4">
                  <%= image_tag 'card.jpg', :class => "img-responsive" %>
                </div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="col-md-offset-2 col-md-5 col-xs-6">
          <h2><%=t :deluxone %></h2>

          <h4><i class="glyphicon glyphicon-user"></i><%=t :numperson %>: 2</h4>
          <ul class="list-inline">
            <li><p><i class="glyphicon glyphicon-ok-circle"></i> <%=t :air %></p></li>
            <li><p><i class="glyphicon glyphicon-ok-circle"></i> <%=t :hotwater %></p></li>
            <li><p><i class="glyphicon glyphicon-ok-circle"></i> <%=t :tv %></p></li>
            <li><p><i class="glyphicon glyphicon-ok-circle"></i> <%=t :refrigerator %></p></li>
            <li><p><i class="glyphicon glyphicon-ok-circle"></i> <%=t :breakfast %></p></li>
          </ul>
          <div class="price">
            <h2>800 <%=t :baht %> <span><%=t :pernight%></span></h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="room-description room-description-even clearfix">
    <div class="col-md-offset-1 col-md-10 col-xs-12">
      <div class="room-content clearfix">
        <div class="col-md-5 col-xs-6">
          <h2><%=t :supremetwo %></h2>

          <h4><i class="glyphicon glyphicon-user"></i><%=t :numperson %>: 2</h4>
          <ul class="list-inline">
            <li><p><i class="glyphicon glyphicon-ok-circle"></i> <%=t :air %></p></li>
            <li><p><i class="glyphicon glyphicon-ok-circle"></i> <%=t :hotwater %></p></li>
            <li><p><i class="glyphicon glyphicon-ok-circle"></i> <%=t :tv %></p></li>
            <li><p><i class="glyphicon glyphicon-ok-circle"></i> <%=t :refrigerator %></p></li>
            <li><p><i class="glyphicon glyphicon-ok-circle"></i> <%=t :breakfast %></p></li>
          </ul>

          <div class="price">
            <h2>900 <%=t :baht %> <span><%=t :pernight%></span></h2>
          </div>
        </div>
        <div class="col-md-offset-2 col-md-5 col-xs-6">
          <div class="row">
            <div class="main-img center-block">
              <%= image_tag 'phusuay/delux2/pic1.jpg', :class => "img-responsive" %>
            </div>
            <!-- <div class="sub-img">
              <div class="row">
                <div class="col-xs-4">
                  <%= image_tag 'card.jpg', :class => "img-responsive" %>
                </div>
                <div class="col-xs-4">
                  <%= image_tag 'card.jpg', :class => "img-responsive" %>
                </div>
                <div class="col-xs-4">
                  <%= image_tag 'card.jpg', :class => "img-responsive" %>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="room-description room-description-odd clearfix">
    <div class="col-md-offset-1 col-md-10 col-xs-12">
      <div class="room-content clearfix">
        <div class="col-md-5 col-xs-6">
          <div class="row">
            <div class="main-img center-block">
              <%= image_tag 'phusuay/sweet/pic1.jpg', :class => "img-responsive" %>
            </div>
            <!-- <div class="sub-img">
              <div class="row">
                <div class="col-xs-4">
                  <%= image_tag 'card.jpg', :class => "img-responsive" %>
                </div>
                <div class="col-xs-4">
                  <%= image_tag 'card.jpg', :class => "img-responsive" %>
                </div>
                <div class="col-xs-4">
                  <%= image_tag 'card.jpg', :class => "img-responsive" %>
                </div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="col-md-offset-2 col-md-5 col-xs-6">
          <h2><%=t :sweet %></h2>

          <h4><i class="glyphicon glyphicon-user"></i><%=t :numperson %>: 2</h4>
          <ul class="list-inline">
            <li><p><i class="glyphicon glyphicon-ok-circle"></i> <%=t :air %></p></li>
            <li><p><i class="glyphicon glyphicon-ok-circle"></i> <%=t :hotwater %></p></li>
            <li><p><i class="glyphicon glyphicon-ok-circle"></i> <%=t :tv %></p></li>
            <li><p><i class="glyphicon glyphicon-ok-circle"></i> <%=t :refrigerator %></p></li>
            <li><p><i class="glyphicon glyphicon-ok-circle"></i> <%=t :breakfast %></p></li>
            <li><p><i class="glyphicon glyphicon-ok-circle"></i> <%=t :reserveroom %></p></li>
          </ul>
          <div class="price">
            <h2>1500 <%=t :baht %> <span><%=t :pernight%></span></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
<section id="service-price" class="clearfix">
  <div class="col-md-offset-1 col-md-10">
    <h2>Additional service</h2>
    <p>FUCK............................................500Bath</p>
    <p>FUCK............................................500Bath</p>
    <p>FUCK............................................500Bath</p>
    <p>FUCK............................................500Bath</p>
    <p>FUCK............................................500Bath</p>
  </div>
</section> -->
