<h1>New Promotion</h1>
<%= form_for :promotion, url: promotions_path do |f| %>
	<p>
	<%= f.label :title %><br>
	<%= f.text_field :title %><br>
</p>
	<p>
	<%= f.label :body %><br>
	<%= f.text_field :body %><br>
</p>
	<%= f.submit %>
<% end %>
