<!DOCTYPE html>
<html>
<head>
  <title>PhusuayPark</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- <%= link_to 'Phusuay Park View' , root_path, :class => "navbar-brand pbrand"%> -->

      <a class="navbar-left" style="position: absolute;"href="/">
        <%= image_tag 'phusuay/brand.png', class:"brand-img"%>
      </a>

      <div class="row">
        <div class='navbar-right'>
          <!-- <%= link_to "EN", :locale=>'en'%>
          |
          <%= link_to "TH", :locale=>'th'%> -->
          <%= link_to  t(:booknow) , book_path, :class => "btn btn-custom navbar-btn"%>
          <p class="navbar-text"><%=t :tel %></p>
        </div>
      </div>
    </div>
    <div class="row" style="background-color:#acd15d;">
      <div class="container" style="padding-right:0;">
        <ul class='nav nav-pills navbar-right pnav'>
          <li><%= link_to t(:home) , root_path %></li>
          <li><%= link_to t(:room) , rooms_path %></li>
          <li><%= link_to t(:service) , services_path %></li>
          <li><%= link_to t(:attraction) , activities_path %></li>
          <li><%= link_to t(:about) , about_path %></li>
          <li><%= link_to t(:contactus) , contact_path %></li>
        </ul>
      </div>
    </div>

  </nav>

  <header>
    <div class='container'>
      <ul class='nav nav-pills navbar-right'>
        <li><%= link_to t(:home) , root_path %></li>
        <li><%= link_to t(:room) , rooms_path %></li>
        <li><%= link_to t(:service) , services_path %></li>
        <li><%= link_to t(:attraction) , activities_path %></li>
        <li><%= link_to t(:about) , about_path %></li>
        <li><%= link_to t(:contactus) , contact_path %></li>
      </ul>
    </div>
    <% if @promotions.size != 0 then %>
    <div class="col-xs-4 col-xs-offset-1 promotion">
      <h2>Promotions</h2>
      <table style="width:100%">
        <%@promotions.each do |promotion|%>
        <tr>
          <th class="col-md-6 text-center"><%= link_to promotion.title, promotion_path(promotion) %></th>
          <th class="col-md-6 text-center"><%= promotion.created_at.strftime("%Y-%m-%d") %></th>
        </tr>
        <%end%>
      </table>
      <%= link_to 'See more' , promotions_path, :class => "see-more"%>
    </div>
    <%end%>
  </header>

  <%= yield %>
  <div class="footer">
    <p><%=t :locationName %></p>
    <p><%=t :locationAddr %></p>
    <p><%=t :tel %></p>
  </div>

</body>
</html>
