<!DOCTYPE html>
<html>
<head>
  <title>PhusuayPark</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bookJS', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <%= link_to 'Phusuay Park View' , page_controller_home_path, :class => "navbar-brand pbrand"%>
      <div class='navbar-right'>
        <%= link_to "English", :locale=>'en'%>
        <%= link_to "Thai", :locale=>'th'%>
        <%= link_to 'Book Now' , page_controller_book_path, :class => "btn btn-custom navbar-btn"%>
        <p class="navbar-text">TEL: 0922506745</p>
      </div>
    </div>
  </nav>

  <header>
    <div class='container'>
      <ul class='nav nav-pills navbar-right pnav'>
        <li><%= link_to 'Home' , page_controller_home_path %></li>
        <li><%= link_to 'Rooms' , page_controller_rooms_path %></li>
        <li><%= link_to 'Services' , page_controller_services_path %></li>
        <li><%= link_to 'Activities' , page_controller_activities_path %></li>
        <li><%= link_to 'About' , page_controller_about_path %></li>
        <li><%= link_to 'Contact us' , contacts_path %></li>
      </ul>
    </div>
    <% if @promotions.size != 0 then %>
    <div class="col-xs-4 col-xs-offset-1 promotion">
      <h2>Promotions</h2>
      <table style="width:100%">
        <%@promotions.each do |promotion|%>
        <tr>
          <th class="col-md-6 text-center"><%= link_to promotion.title, promotion_path(promotion) %></th>
          <th class="col-md-6 text-center"><%= promotion.created_at.strftime("%Y-%m-%d") %></th>
        </tr>
        <%end%>
      </table>
      <%= link_to 'See more' , promotions_path, :class => "see-more"%>
    </div>
    <%end%>
  </header>

  <%= yield %>
  <div class="footer">
    <p>Phusuay Park View</p>
    <p>366 Moo2,ban-lao,chaiyaboom,thailand,36000</p>
    <p>Tel : 029999999 </p>
  </div>

</body>
</html>
