<!DOCTYPE html>
<html>
<head>
  <title>PhusuayPark</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Athiti" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- <%= link_to 'Phusuay Park View' , root_path, :class => "navbar-brand pbrand"%> -->

      <a class="navbar-brand pbrand" href="/">
        Phusuay Park View
      </a>

      <div class="row">
        <div class='navbar-right'>
          <!-- <%= link_to "EN", :locale=>'en'%>
          |
          <%= link_to "TH", :locale=>'th'%> -->
          <%= link_to  t(:booknow) , book_path, :class => "btn btn-custom navbar-btn"%>
          <p class="navbar-text"><%=t :tel %></p>
        </div>
      </div>
    </div>
    <div class="row" style="background-color:#acd15d;">
      <div class="container" style="padding-right:0;">
        <ul class='nav nav-pills navbar-right pnav'>
          <li><%= link_to t(:home) , root_path %></li>
          <li><%= link_to t(:room) , rooms_path %></li>
          <li><%= link_to t(:service) , services_path %></li>
          <li><%= link_to t(:attraction) , activities_path %></li>
          <li><%= link_to t(:about) , about_path %></li>
          <li><%= link_to t(:contactus) , contact_path %></li>
        </ul>
      </div>
    </div>

  </nav>

  <header>
    <div class='container'>
      <ul class='nav nav-pills navbar-right'>
        <li><%= link_to t(:home) , root_path %></li>
        <li><%= link_to t(:room) , rooms_path %></li>
        <li><%= link_to t(:service) , services_path %></li>
        <li><%= link_to t(:attraction) , activities_path %></li>
        <li><%= link_to t(:about) , about_path %></li>
        <li><%= link_to t(:contactus) , contact_path %></li>
      </ul>
    </div>

  </header>

  <%= yield %>
  <div class="footer">
    <%= image_tag 'phusuay/brand.png', class:"brand-footer-img navbar-left"%>
    <p><%=t :locationName %></p>
    <p><%=t :locationAddr %></p>
    <p><%=t :tel %> </p>
    <p><%=t :mobilephone %> : 080-153-1331</p>
    <p><%=t :fax %> : 044-854-244</p>
  </div>

</body>
</html>
