<!DOCTYPE html>
<html>
<head>
  <title>Phusuay Park View Hotel</title>
  <meta name='description' content="Hotel, โรงแรม, Room, ห้องพัก, Chaiyaphum, ชัยภูมิ, Phusuay Park View, ภูสวยปาร์ควิว" />
  <meta name='keywords' content="Hotel, โรงแรม, Room, ห้องพัก, Chaiyaphum, ชัยภูมิ, Phusuay Park View, ภูสวยปาร์ควิว" />
  <meta http-equiv='content-language' content='th' />
  <meta http-equiv='content-type' content='text/html; charset=UTF-8?' />
  <meta name='revisit-after' content='7 days' />
  <meta name='robots' content='index, follow' />
  <meta name='Distribution' content='Global' />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Athiti" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- <%= link_to 'Phusuay Park View' , root_path, :class => "navbar-brand pbrand"%> -->

      <a class="navbar-brand pbrand" href="/">
        Phusuay Park View
      </a>

      <div class="row">
        <div class='navbar-right'>
          <!-- <%= link_to "EN", :locale=>'en'%>
          |
          <%= link_to "TH", :locale=>'th'%> -->
          <%= link_to  t(:booknow) , book_path, :class => "btn btn-custom navbar-btn"%>
          <p class="navbar-text"><%=t :tel %></p>
        </div>
      </div>
    </div>
    <div class="row" style="background-color:#acd15d;">
      <div class="container" style="padding-right:0;">
        <ul class='nav nav-pills navbar-right pnav'>
          <li><%= link_to t(:home) , root_path %></li>
          <li><%= link_to t(:room) , rooms_path %></li>
          <li><%= link_to t(:service) , services_path %></li>
          <li><%= link_to t(:attraction) , activities_path %></li>
          <li><%= link_to t(:about) , about_path %></li>
          <li><%= link_to t(:contactus) , contact_path %></li>
        </ul>
      </div>
    </div>

  </nav>

  <header>

    <% if @showed_promotions.size != 0 then %>
    <div class="col-md-3 col-md-offset-1 col-xs-5 col-xs-offset-1 promotion ">
      <h2><strong>Promotions</strong></h2>
      <table style="width:100%">
        <%@showed_promotions.each do |promotion|%>
        <tr>
          <th class="col-md-6 text-center"><%= link_to promotion.title, promotion_path(promotion), :id => "promotion-link" %></th>
          <th class="col-md-6 text-center"><%= promotion.created_at.strftime("%Y-%m-%d") %></th>
        </tr>
        <%end%>
      </table>
      <%= link_to 'See more' , promotions_path, :id => "see-more-btn", :class => "btn btn-primary"%>
    </div>
    <%end%>
  </header>

  <%= yield %>
  <div class="footer">
    <%= image_tag 'phusuay/brand.png', class:"brand-footer-img navbar-left"%>
    <p><%=t :locationName %></p>
    <p><%=t :locationAddr %></p>
    <p><%=t :tel %> </p>
    <p><%=t :mobilephone %> : 080-153-1331</p>
    <p><%=t :fax %> : 044-854-244</p>
  </div>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91822157-1', 'auto');
  ga('send', 'pageview');

  </script>

</body>
</html>
